img,
figure {
  pointer-events: none;
}

figure {
  padding: 0;
  margin: 0;
}

:host,
.grid {
  width: 100%;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:    1fr 1fr;
  grid-gap: 5px;
}

.grid-1 {
  figure {
    grid-row-end: span 2;
    grid-column-end: span 6;
  }
}

.grid-2 {
  figure {
    grid-row-end: span 2;
    grid-column-end: span 3;
  }
}

.grid-3 {
  figure:nth-of-type(1) {
    grid-column-end: span 3
  }

  figure:nth-of-type(2) {
    grid-column-end: span 3
  }

  figure:nth-of-type(3) {
    grid-column-end: span 6
  }
}

.grid-4 {
  figure {
    grid-column-end: span 3
  }
}

.grid-5 {
  figure {
    grid-column-end: span 2
  }

  figure:nth-of-type(4) {
    grid-column-end: span 3
  }

  figure:nth-of-type(5) {
    grid-column-end: span 3
  }
}

.grid-6 {
  figure {
    grid-column-end: span 2
  }
}

.constraint {
  width: 100%;
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  image-orientation: from-image;
}
