img,
figure {
  pointer-events: none;
}

figure {
  padding: 0;
  margin: 0;
}

:host,
.grid {
  width: 100%;
  height: 100%;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .thumb {
    display: flex;
    flex: 1 1 auto;
    box-sizing: border-box;

    .constraint {
      height: 100%;
      width: 100%;

      margin: 3px;

      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      image-orientation: from-image;
    }
  }

  &.grid-1 {
    .thumb {
        min-width: 100%;
    }
  }
  &.grid-2 {
    .thumb {
        min-width: 50%;
        max-width: 50%;
    }
  }
  &.grid-3 {
    .thumb:nth-child(1) {
        width: 50%;
    }
    .thumb:nth-child(2) {
        width: 50%;
    }
    .thumb:nth-child(3) {
        min-width: 100%;
    }
  }
  &.grid-4 {
    .thumb {
        min-width: 50%;
    }
  }
  &.grid-5 {
    .thumb {
        min-width: 33%;
    }
  }
  &.grid-6 {
    .thumb {
        min-width: 33%;
    }
  }
}
