<div class="previews">
  <app-preview></app-preview>
</div>

<form [formGroup]="form" class="filmstrip" appScrollHorizontal>
  <div formGroupName="checkboxes" appMultiCheck="checkboxes">
    <app-thumbnail
      *ngFor="let control of form.get('checkboxes').value | keyvalue:originalOrder; let i = index;"
      [formControlName]="control.key"
      [value]="control.value"
      imageUrl="/api/v1/thumb/{{images[i].id}}"
      [imageId]="images[i].id"
      [index]="i"
    ></app-thumbnail>
  </div>
</form>
