@import "../../../../colours.scss";

:host {
  display: grid;
  grid-template-rows: 1fr 210px;
  height: 100%;
}

.previews {
  background-color: $mediumGrey;
  overflow: hidden;
}

.filmstrip {
  background-color: $lightGrey;
  overflow-x: scroll;
  white-space: nowrap;
}
