<input
  type="checkbox"
  id="image-{{imageId}}"
  name="image-{{imageId}}"
  [attr.data-index]="index"
  (change)="onTouched(); toggle();"
  [attr.checked]="value | trueOrNull"
  [attr.disabled]="disabled | trueOrNull"
  [value]="value"
/>
<label for="image-{{imageId}}" [class.disabled]="disabled">
  <figure>
    <div class="thumb" [ngStyle]="{'background-image': 'url(&quot;' + imageUrl + '&quot;)'}" [ngClass]="orientationClassName"></div>
  </figure>
  <figcaption>{{imageId}}</figcaption>
</label>
