.exif {
  // from: https://github.com/demimonde/exif2css
  &-orientation {
    &-2 {
      transform: rotate(180deg);
    }

    &-3 {
      transform: rotate(180deg);
    }

    &-4 {
      transform: rotate(180deg) rotateY(180deg);
    }

    &-5 {
      transform: rotate(270deg) rotateY(180deg);
    }

    &-6 {
      transform: scaleY(-1) rotate(90deg);
    }

    &-7 {
      transform: scaleY(-1) scaleX(-1) rotate(90deg) rotateY(180deg);
    }

    &-8 {
      transform: scaleX(-1) rotate(270deg);
    }
  }
}
