@import "~angular-tree-component/dist/angular-tree-component.css";
@import "./colours.scss";

@import "./angular-tree-component-overrides.scss";

html,
body {
  background-color: $darkGrey;
  height: 100%;
  width: 100%;
}

body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
}

html,
body,
button,
input,
select,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: $mediumWhite;
}

button,
input,
select,
textarea {
  background-color: $lighterGrey;
  border: 0;
  border-radius: 3px;
}

app-root {
  display: grid;
  grid-template-columns: 10rem 75fr;
  grid-template-rows: 1fr 100fr 1fr;
  height: 100%;
  // grid-gap: .5rem;
}

aside {
  padding: 1rem;
}

header,
footer {
  grid-column: 1 / span 2;
  padding: .3rem 1rem;
}

aside,
header,
footer,
main {
  background-color: $lightGrey;
  margin: 1px;
}

